<main>
    <section class="retour">
        <a [routerLink]="['/']" >
        <p>Retourner à la page d'accueil</p>
        <img [src]="imageRetour" alt="retour" >
        </a>
    </section>
    <section class="modele" *ngIf="appartment && traveller">
        <h1>Nouvelle demande de réservation</h1>
        <br>
        <p>Bonjour,</p>
        <br>
        <p>Je serais intéressé pour réserver un de vos appartements.</p>
        <p>Voici le détail de ma demande :</p>
        <br>

        <h2>Infos de réservation</h2>
        <p>Appartement : {{appartment.description}} </p>
        <p>Date d'arrivée : {{arrivalDate}} </p>
        <p>Date de départ : {{departureDate}} </p>
        <p>Nombre d'adultes : {{traveller.nbAdult}} </p>
        <p>Nombre d'enfants : {{traveller.nbChild}} </p>
        <p>Nombre de bébés (- 2ans) : {{traveller.nbBaby}} </p>
        <br>
        <p>Nombre de nuits : {{numberNight}} </p>
        <p>Prix de la réservation : {{travelPrice}} €</p>
        <br>
        <h2>Coordonnées du voyageur</h2>
        <p>Nom : {{traveller.lastname}} </p>
        <p>Prénom : {{traveller.firstname}} </p>
        <p>Abresse : {{traveller.address}}, {{traveller.zipcode}} {{traveller.city}}, {{traveller.country}} </p>
        <p>email : {{traveller.email}}</p>
        <p>Téléphone : {{traveller.phone}}</p>
        <br>
        <br>
        <p *ngIf="traveller.message" class="messageTextarea">{{traveller.message}}</p>
        <div *ngIf="!traveller.message">
            <br>
            <br>
            <p>Dans l'attente de votre retour.</p>
            <p>Cordialement,</p>
            <p>{{traveller.firstname}} {{traveller.lastname}} </p>
        </div>
    </section>
</main>


