<main>
    <img src="../../../../../../assets/icons/icon-close-window.png" (click)="close()"  alt="close" class="img-close"/>

    <div class="reduce">
        <h2>Date d'arrivée</h2>
        <mat-form-field >
            <input matInput [matDatepicker]="checkinDate" 
            [(ngModel)]="checkinDateValue" 
            placeholder="Quand ?"
            [min]="minCheckinDate"
            [max]="maxCheckinDate"
            >

            <mat-datepicker-toggle matSuffix [for]="checkinDate"></mat-datepicker-toggle>
            <mat-datepicker #checkinDate></mat-datepicker>
          </mat-form-field>

    </div>

    <div class="reduce">
        <h2>Date de départ</h2>
        <mat-form-field >
            <input matInput [matDatepicker]="checkoutDate" 
            [(ngModel)]="checkoutDateValue" 
            placeholder="Quand ?"
            [min]="minCheckoutDate"
            [max]="maxCheckoutDate"
            >
            <mat-datepicker-toggle matSuffix [for]="checkoutDate"></mat-datepicker-toggle>
            <mat-datepicker #checkoutDate></mat-datepicker>
          </mat-form-field>

    </div>

    <div class="reduce">
        <h2>Voyageurs</h2>
        <app-choose-voyagers [travellerNumbers]="travellerNumbers" (travellerUpdate)="updateTravellerNumbers($event)" ></app-choose-voyagers>
    </div>

    <div class="buttons reduce">
        <button type="button" (click)="close()">Annuler</button>
        <button type="button" (click)="onStartResearch()">Rechercher</button>
    </div>

</main>