@import "../../../../../styles/variables";

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 24px 0 24px;
    background-color: $colorMid;
    width: 100vw;
    max-width: 1800px;
    height: 70px;
    margin: auto;
    margin-bottom: 16px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    .navBurger {
        display: none;
    }

    .navPage {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        a{
            height: 70px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
    
            &:hover {
                background-color: $colorLight;
            }
    
            p{
                margin: 0 !important;
                padding: 0;
            }
        }
    }

    img {
        height: 65px;
        width: auto;

        &:hover {
            cursor: pointer;
            filter: hue-rotate(110deg);
        }
    }
}

@media screen and (max-width: 700px) {
    nav {
        position: relative;

        .keepOnRight {
            position: absolute;
            top: 5px;
            right: 24px;
        }

        .navPage {
            display: none;
        }

        img.navBurger {
            display: block;

        }

        div.navBurger {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70vw;
            height: 100vh;
            background-color: $colorMid;
            animation: fromLeft 0.3s ease;

            a {
                text-decoration: none;
                color: black;
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    font-size: var(--mpFontSize) !important;
                }

                &:hover {
                    background-color: $colorLight;
                }
            }
        }
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-70vw);
    }
    100% {
        transform: translateX(0);
    }
}